#container {
	display:flex;
	flex-wrap: wrap;
	justify-content: flex-start;

}
img {
	margin: 1rem;
	border: .35rem solid green;
	order: 1;
}

.newDiv {
	border: .35rem solid green;
	margin: 1rem;
	order: 2;
}