* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background: white;
	font-family: 'Mountains of Christmas', cursive, Helvetica;
}

/*Header--------------------------------------*/
.header {
	margin: 0;
	margin-top: .35rem;
	padding-top: .35rem;
	font-size: 1rem;
	background: #41b14f;
	text-align: center;
}
p b {
	font-size: 1.5rem;
}
h1 {
	padding: 0px;
	margin: 0px;
}

h2 {
	font-size: 2rem;
	padding: 0px;
	margin: 0px;
}

/*larger screens------------------------------*/
@media (min-width: 600px) {
	.header {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 0;
		font-size: 1.25rem;
		margin-left: .5rem;
		margin-right: .5rem;
		border-radius: 1rem .5rem 1rem .5rem;
	}
	.weather-container {
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	h2 {
		margin-top 1rem;
	}
}
/*End Larger Screens*/
/*-----------------------------------------------------*/

/*Calendar Properties*/
#container {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	padding: .5rem;
	width: 95%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background: #d33a2c;
	border-radius: 1rem;
}
img {
	margin-top: 1rem;
	margin-left: .5rem;
	margin-right: .5rem;
	border-top: .35rem dashed green;
	border-left: .35rem dashed green;
	border-bottom: .35rem dashed green;
	border-right:.35rem solid green;
	order: 1;
	width: 225px;
	height: 225px;
}

.newDiv {
	border: .35rem solid green;
	margin: 1rem;
	margin-right: .5rem;
	margin-left: .5rem;
	padding: .5rem;
	order: 2;
	width: 225px;
	height:225px;
	font-size: 1.5rem;
	background-color:#41b14f;
}
